<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">MoviesApp</a>
      <form class="d-flex" action="/results" method="POST">
        <input type="text" class="form-control me-2" id="query" name ="query" placeholder="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
</nav>